@import '~sweetalert2/dist/sweetalert2.min.css';
@import "strangerintro";

$mobile: 'only screen and (max-device-width : 500px)';

video.fullscreen {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translate(-50%, -50%);
}

body.overflow{
    overflow: auto;
}

.STIC{
    width: 500px;
    margin: 0 auto;

    .intro-title{
        font-size: 50px;

        @media #{$mobile} {
            margin-top: 80px;
        }
    }

    input,textarea{
      resize: none;
      width: 100%;
      margin-bottom: 10px;
      padding: 0.25em;
      border: 0.25em solid transparentize($color-title, 0.6);
      border-radius: 0.2em;
      background: black;
      transition: border-color 0.7s ease-out;
      color: $color-credits;
      text-align: center;
      outline: none;
      font-family: $font-credits;
      font-size: 18px;
      font-weight: 800;

      &:active, &:focus {
        border-color: $color-title;
      }

      &#f-logo{
          color: $color-title;
          font-family: $font-title;
          font-size: 50px;
          font-weight: normal;
          height: 125px;
          line-height: 86%;
          border: 0.0666em solid transparentize($color-title, 0.6);
          border-radius: 0.0533em;
          font-weight: normal;
          text-transform: uppercase;

          &:active, &:focus {
            border-color: $color-title;
          }
      }
    }

    .playButton{
        font-family: $font-title;
        cursor: pointer;
        font-size: 60px;
        border: 0;
        background: transparent;
        color: $color-title;
        text-shadow: none;
        transition: text-shadow 0.5s ease-out;
        outline: none;

        &:focus, &:hover {
            text-shadow: -1px 1px 8px #ccc, 1px -1px 8px #ccc;
        }
    }

    .downloadButton{
        @extend .playButton;
        animation: pulseDownload 3s ease 0s infinite;
        border: 6px solid #C11B1F;
        padding: 5px 12px 5px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.64);

        &:focus, &:hover {
            text-shadow: -1px 1px 8px #ccc, 1px -1px 8px #ccc;
            animation: none;
        }
    }
}

@keyframes pulseDownload {
    0%{
        text-shadow: none;
    }

    40%{
        text-shadow: -1px 1px 73px #ccc, 1px -1px 15px #ccc;
    }

    60%{
        text-shadow: -1px 1px 73px #ccc, 1px -1px 15px #ccc;
    }

    100%{
        text-shadow: none;
    }
}

.credits{
    cursor: default;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.hide{
    display: none;
}

.stranger-alert{
    border: 2px solid $color-title;
    h2 {
        color:  $color-title;
    }

    p{
        text-align: justify;
    }

    h2{
        font-family: BenguiatITCW01-BoldCn;
    }

    .swal2-validationerror{
        background-color: black;
        color: $color-title;

        &::before{
            background-color: $color-title;
        }
    }

    input.swal2-input{
      width: 100%;
      margin-bottom: 10px;
      padding: 0.25em;
      border: 0.25em solid transparentize($color-title, 0.6);
      border-radius: 0.2em;
      background: black;
      transition: border-color 0.7s ease-out;
      color: $color-title;
      text-align: center;
      outline: none;
      font-family: $font-credits;
      font-size: 18px;
      font-weight: 800;

      &:active, &:focus {
        border: 0.25em solid $color-title;
        box-shadow: none;
      }
    }

    .email{
        text-align: center;
        font-weight: bold;
        color:  $color-title;
    }

    .swal2-content{
        font-family: $font-credits;
        color: #cecece;
    }

    button{
      border: 2px solid $color-title !important;
      color: $color-title !important;
      background-color: black !important;
      &:focus{
          outline: none;
      }
    }

    a{
        color: $color-title;
        font-weight:bold;
    }

}

.swal2-icon{

    &.swal2-error {
        border-color: $color-title;
        .line{
            background-color: $color-title;
        }
    }

    &.swal2-warning {
        // border-color: $color-title; // not working, don't know why
        // color: $color-title;
    }
}


::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: darken($color-title, 10);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
// ::-webkit-scrollbar-thumb:window-inactive {
// 	background: darken($color-title, 10);
// }

.footerText{
    font-family: $font-credits;
    color: $color-title;
    bottom: 10px;
    width: 550px;
    font-size: 0.9em;

    &#btcether {
        &:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        width: 140px;
        font-weight: bold;
        display: flex;
        line-height: 25px;
        span {
            margin-left: 5px;
        }
    }

    &.right{
        position: fixed;
        right: 10px;
        text-align: right;
        max-width: 30%;
    }

    a{
        color: $color-title;
        font-weight: bold;
        text-decoration: none;
    }

    #termsOfService{
        font-size: 1.1em;
        display: block;
        &:hover{
            text-decoration: underline;
        }
    }
}

.leftFooter{
    position: fixed;
    bottom: 10px;
    left: 10px;
    text-align: left;

    div{
        margin-bottom: 10px;
    }

    form{
        margin-bottom: 15px;
    }
}

iframe{
    border: none;
}

#stranger-form {
    margin-bottom: 40px;
}

#kasselLogo {
    position: absolute;
    top: 0;

    img {
      margin: 16px;
      height: 20px;


    }

    @media #{$mobile} {
        img {
            height: 30px;
        }
          width: 100%;
          text-align: center;
    }
  }